/*style.css 公共css文件*/
div.errorMessage{color: red;font-size: 16px;height: 30px;line-height: 30px;font-weight: bold;}
span.required{color:red;font-size:12px;height: 30px;line-height: 30px;font-weight: 200;}